@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

.faqContainer {
    background-color: #DFF9FF;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fagWrapper{
    max-width: 1280px;
    padding-left: 5rem;
    padding-right: 5rem;
    /* background: #D8D3FF; */
    color: #5A4157;
    padding: 3rem;
    border-radius: 50px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    /* margin-left: auto;
    margin-right: auto; */
}



.questionBox{
    background: #FBACCC;
    /* color: #5A4157; */
    border-radius: 20px;
    margin-top: 0.3rem;
    margin-bottom: 0.75rem;
    padding-right: 7px;
    box-shadow: 0 15px 0 0 #EFC0D1; 
    padding-bottom: 0%;

}

.questionBoxActive{
    background: linear-gradient(to top, #EFC0D1 5%, #FBACCC 50% 70%); /* bottom → top */
    /* box-shadow: 0 6px 0 0 #F5B0C3; */
}

.answerBox{
    /* background-color: lightcoral; */
    margin: 0;  /* took off the margin because it gave extra space below the <button> making the image not align with the text*/
    text-align: left;
    padding-bottom: 10px; 
}

/* added this for the star image on the faqs to not be big --> the image led to the faq box expandng */
.faqStar {
    /* display: inline-block; */
    width: 75px;     /* Adjust this number to make it smaller or larger */
    height: 75px ; 
    object-fit: contain; /* Prevent stretching */
    /* padding-top: 1.25rem;
    padding-right: 7px; */
    
}


@media (max-width: 1024px) {
    /* Styles for screens smaller than 1200px */
    .faqContainer{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .fagWrapper{
        /* background: red; */
        padding: 3rem 2rem;
    }

}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .questionBox{
        /* background-color: lightgreen; */
        padding: 2rem 1rem;
        
    }
}
    

@media (max-width: 500px) {
/* Styles for screens smaller than 992px */
    .fagWrapper{
        /* background: red; */
        padding: 2rem 1.5rem;
    }

    .questionBox{
        /* background-color: lightgreen; */
        padding: 3rem 0.5rem;
        
    }

}




