

.infoContainer {  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 10%;
    min-height: 100vh;
    text-align: center;
}

.infoBox {
    background: linear-gradient(180deg, #FCE4D8 0%, #DAD9F6 100%);
    border-radius: 24px;
    padding: 0rem 2rem;
    max-width: 900px;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2;
    color: #565656;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.infoBox p {
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 2;
    color: #565656;
}

.starfish {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
}

.leftStar {
    left: 2%;
    top: 20%;
    transform: rotate(-20deg);
}

.rightStar {
  right: 8%;
  top: 60%;
  transform: rotate(15deg);
}